<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <title>
        404 ERROR!
    </title>
     <link rel="icon" href="/img/weather.png">
    <body>
        <div class="main-content">
            {{>header}}
            <p>{{errortext}}</p>
        </div>
        {{>footer}}
    </body>
</html>