<!DOCTYPE html>     
<html>      
    <head>
        <title>
            Help
        </title>
         <link rel="icon" href="/img/weather.png">
          <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
           <div class="main-content">
                <h3>Welcome to the help page :)</h3>
                {{>header}}
           </div>
            {{>footer}}
    </body>
</html>